=haml :params
.row
  .col-xs-2
  .col-xs-8
    %h1 Balances
    %table.table.table-striped
      %thead
        %tr
          %th Account
          %th.right Balance
          %th.right Inclusive Balance
      %tbody
        -@funds_info[:accounts].each do |account|
          - account_filter = session[:account_filter] && !session[:account_filter].empty? ? session[:account_filter] : nil
          - next if account_filter && !account.full_name.match(/#{account_filter}/)

          -unless @funds_info[:balances][account].zero? && (@funds_info[:inclusive_balances][account].nil? || @funds_info[:inclusive_balances][account].zero?)
            %tr
              %td= account.full_name
              - b = @funds_info[:balances][account].to_s(',')
              %td.right{style: b.include?('-') ? 'color: red; font-weight: bold;' : ''}= b
              -if !account.leaf?
                - b = @funds_info[:inclusive_balances][account].to_s(',')
                %td.right{style: b.include?('-') ? 'color: red; font-weight: bold;' : ''}= b
              -else
                %td &nbsp;
                -#%td &nbsp;
          
  .col-xs-2
